body{
    background-color:grey;
}



h3[device=ios]{
    text-align:center;
    background-color:blue;
    color:whitesmoke;
}

#backgroundrow{

    color: cornsilk;
    background-color: cornflowerblue;
}
