body{
    background-color:grey;
}



h3[device=ios]{
    text-align:center;
    background-color:blue;
    color:purple;
    font-family:family=Slabo+27px;
}

#backgroundrow{

    color: cornsilk;
    background-color: cornflowerblue;
}
